In [1]:
#declare a variable
#variables are the containers used to store any data types
X=10

In [2]:
# print the variable
print(X)

10

In [3]:
#check the datatype of the variable
type(X)

int

In [4]:
# creat an integer datatype
int_1=20

# show the datatype
print('datatype of the variable',type(int_1))

datatype of the variable <class 'int'>

In [5]:
# creat an float datatype
float_1=20.38

# show the datatype
print('datatype of the variable ',type(float_1))

datatype of the variable  <class 'float'>

In [6]:
# creat an string datatype
string_1='arjun'

# show the datatype
print('datatype of the variable ',type(string_1))

datatype of the variable  <class 'str'>

In [7]:
# create an list datatype
list_1=[10,20,30,40]
list_2=[10.30,20.46,30.39,40.60]
list_3=['Arjun','Gokul','Ahamed ali','Gokula kannan']

# show the datatype
print('datatype of the variable',type(list_1))
print('datatype of the variable',type(list_2))
print('datatype of the variable',type(list_3))

datatype of the variable <class 'list'>
datatype of the variable <class 'list'>
datatype of the variable <class 'list'>

In [8]:
# create an tuple datatype
tuple_1=(10,20,30,40)
tuple_2=(10.30,20.46,30.39,40.60)
tuple_3=('Arjun','Gokul','Ahamed ali','Gokula kannan')

# show the datatype
print('datatype of the variable',type(tuple_1))
print('datatype of the variable',type(tuple_2))
print('datatype of the variable',type(tuple_3))

datatype of the variable <class 'tuple'>
datatype of the variable <class 'tuple'>
datatype of the variable <class 'tuple'>

In [9]:
# create an set datatype
set_1={10,20,30,40}
set_2={10.30,20.46,30.39,40.60}
set_3={'Arjun','Gokul','Ahamed ali','Gokula kannan'}

# show the datatype
print('datatype of the variable',type(set_1))
print('datatype of the variable',type(set_2))
print('datatype of the variable',type(set_3))

datatype of the variable <class 'set'>
datatype of the variable <class 'set'>
datatype of the variable <class 'set'>

In [10]:
# creat an boolean datatype
boolean_1=True
boolean_2=False

# show the datatype
print('datatype of the variable',type(boolean_1))
print('datatype of the variable',type(boolean_2))

datatype of the variable <class 'bool'>
datatype of the variable <class 'bool'>

In [11]:
# creat an dictonary datatype
dictonary_1={'list_1':[10,20,30,40],
             'tuple_1':(10,20,30,40),
             'set_1':{10,20,30,40}}

#show the datatype
print('datatype of the variable',type(dictonary_1))

datatype of the variable <class 'dict'>

# basic operation

In [13]:
#Task 1:Type casting
float_2=45.96

#show the tadatype
print('datatype of the variable',type(float_2))

#typecasting
int_2=int(float_2)

#show the tadatype
print('datatype of the variable',type(float_2))

datatype of the variable <class 'float'>
datatype of the variable <class 'float'>

In [14]:
#Task 1:Type casting
int_3=5

#show the tadatype
print('datatype of the variable',type(int_3))

#typecasting
float_3=float(int_3)
#

datatype of the variable <class 'int'>

In [15]:
# Task2:use of round function
float_4=10.1234567890

# round this value till 3 decimal places
rounded_value=round(float_4,3)

# show the output
print('rounded values are:',rounded_value)

rounded values are: 10.123

# Arithmetic operation on a data

In [17]:
# Addition operation
# declare the variable
a=10
b=20

# perform the sum
sum_1=a+b

# show the output
print('addition of two variables:',sum_1)

addition of two variables: 30

In [18]:
# Subraction operation
# declare the variable
a=50
b=20

# perform the sum
sum_1=a-b

# show the output
print('Subraction of two variables:',sum_1)

Subraction of two variables: 30

In [19]:
# Multiplication operation
# declare the variable
a=50
b=4

# perform the sum
sum_1=a*b

# show the output
print('Multiplication of two variables:',sum_1)

Multiplication of two variables: 200

In [20]:
# Division operation
# declare the variable
a=10
b=2

# perform the sum
sum_1=a/b

# show the output
print('Division of two variables:',sum_1)

Division of two variables: 5.0

# user define functions

In [22]:
# declare the function named as 'summation',who can perform the addition in two numbers
def summation():
    x=10
    y=20
    summation=x+y
    return summation

# call the function
summation()

30

In [23]:
# declare the function named as 'subraction',
#  who can perform this subraction between two variables
def subraction(x,y):
    subraction=x-y
    return subraction

# call the function
subraction(10,20)

-10

In [24]:
# declare the function named as multiplication,
# who can perform this multiplication between two variables
# this time you need to take input from the user

# take the input from the user
var_2=int(input('give the first number:'))
var_3=int(input('give the second number:'))

# make the user defined function
def multiplication(var_2,var_3):
    mul=var_2*var_3
    return mul
#call the function
multiplication(var_2,var_3)

give the first number: 1
give the second number: 1

1